#mainCard {
  margin: auto;
  width: 50vw;
  max-width: 600px;
  margin-top: 3vh;
  margin-bottom: 10vh;
  padding: 10px 10px 20px 10px;
  background-color: #d3d3d3;
  box-shadow: 0 0 7px 3px blue;
}
#innerCard {
  margin: auto;
  width: 80%;
}
body {
  background-color: black;
}
#logo {
  margin: auto;
  width: 100%;
  display: block;
  border: solid black 2px;
  border-radius: 5px;
  margin-bottom: 15px;
}
#button-div {
  margin: auto;
  width: 35%;
  display: block;
}
#showMovies {
  display: none;
}

#switch {
  display: none;
  margin: auto;
  width: 15%;
  display: block;
  margin-top: 2vh;
  margin-bottom: 5px;
}
#submit {
  margin: auto;
  width: 25%;
  margin-top: 10px;
  display: block;
  background-color: white;
}
#submit:hover {
  background-color: blue;
  color: white;
}
#userNameInput {
  margin: auto;
  width: 55vw;
  max-width: 700px;
  text-align: center;
  display: block;
}
#nameText {
  margin: auto;
  width: 40%;
  color: white;
  text-align: center;
  margin-bottom: 5px;
}
#poster {
  margin: auto;
  width: 100%;
  border: solid black 1px;
  display: block;
}
#movieTitle {
  text-align: center;
}
#show-matches {
  margin: auto;
  width: 15%;
  display: block;
  margin-bottom: 5vh;
}

#showMoviesInCommon {
  display: none;
  margin-left: 30%;
  margin-top: 10%;
}

ul,
li {
  color: white;
}

#name-place {
  color: white;
  text-align: center;
}

#trailer {
  margin: auto;
  width: 100%;
  display: block;
}
#returnButton {
  margin: auto;
  width: 15%;
  display: block;
}
