#mainCard {
  margin: auto;
  width: 50vw;
  margin-top: vh;
  margin-bottom: 10px;
  padding: 5px 5px 20px 5px;
  background-color: lightgray;
}
#innerCard {
  margin: auto;
  width: 80%;
}

body {
  background-color: black;
}
#logo {
  margin: auto;
  width: 100%;
  display: block;
  border: solid black 2px;
  border-radius: 5px;
  margin-bottom: 15px;
}

#button-div {
  margin: auto;
  width: 35%;
  display: block;
}

#showMovies {
  display: none;
}

.btn {
  background-color: white;
}

label {
  color: white;
}
#switch {
  margin: auto;
  width: 25%;
  display: block;
  margin-top: 3vh;
  margin-bottom: 5px;
}
#submit {
  margin: auto;
  width: 25%;
  margin-top: 10px;
  display: block;
}
#submit:hover {
  background-color: blue;
  color: white;
}
#userNameInput {
  margin: auto;
  width: 55vw;
  text-align: center;
  display: block;
}
#nameText {
  margin: auto;
  width: 40%;
  color: white;
  text-align: center;
  margin-bottom: 5px;
}
#poster {
  margin: auto;
  width: 100%;
  display: block;
}
